DJANGO_SETTINGS_MODULE = 'vinay_e_commerce.django.base'
DJANGO_DEBUG = True
SECRET_KEY = secret

DB_ENGINE = 'django.db.backends.sqlite',
DB_NAME = 'sqlite'
DB_USERNAME = 'user'
DB_PASSWORD = ''
DB_HOST = 127.0.0.1
DB_PORT = 3306
