<!DOCTYPE html>
<html>
  <head>
    <title>Vinay Zone - Cart</title>
    {% csrf_token %} {% load static %}
    <link rel="stylesheet" href="{% static 'store_and_cart.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href={% url "show_store" %}>Shop</a></li>
        {% if cart_count > 0 %}
        <li><a href="{% url 'show_cart' %}">Cart
            ({{cart_count}})
          </a></li>
          {% endif %}
        <li><a href="#">My Orders</a></li>
        <li><a href="{% url 'registration_page' %}">Register</a></li>
        {% if login_status %}
        <li><a href="{% url 'logout_user' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login_page' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <br />
    <center>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="search" placeholder="Search..." size="50" />
        <input type="submit" value="Search" />
      </form>
    </center>
    <br />
    <table>
      {% for product in products %}
      <tr>
        <td>
          <img
            src="{{MEDIA_URL}}{{product.image.url}}"
            width="300px"
            height="180px"
          />
        </td>
        <td>
          <b>{{product.name}}</b><br />
          <p>{{product.description}}</p>
          <p>Rs. {{product.price}}</p>
          <br />
          <form action="{% url 'remove_from_cart' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Remove from Cart</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>

    <center>
      {% if cart_count <= 0 or login_status == False %}
      <a href={% url "proceed_to_buy" %} class="proceed"><button class="proceed" disabled>Proceed To Buy</button></a>
      <p>Please login to Continue</p>
      {% else %}
      <a href={% url "proceed_to_buy" %} class="proceed"><button class="proceed">Proceed To Buy</button></a>
      {% endif %}
      
    </center>
  </body>
</html>
